.content-wrapper {
    display: flex;
    justify-content: center;
}

.content-text {
    display: flex;
    justify-content: center;
}

img {
    height: 400px;
    width: 400px;
}

body {
background-color: #818589;
}